# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../IntegromatApiManager\.idea/codestream.xml
# Datasource local storage ignored files
/../../../:\IntegromatApiManager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
